@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* DEFAILT STYLE START */
:root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  --white: #fff;
  font-size: 14px;
}

body,
html {
  font-family: "Roboto", sans-serif;
}

a {
  outline: none;
  text-decoration: underline;
  color: var(--white);
  text-underline-offset: 5px;
  letter-spacing: 1px;
  font-weight: 500;
  font-style: italic;
}
/* DEFAILT STYLE END */

/* CONTAINERS STYLE START */
.topContainer {
  background-image: url("./assets/FirstBG.png");
  background-size: cover;
}

.historyContainer {
  background-image: url("./assets/middleBG.png");
  background-size: cover;
}

.subContainer {
  width: 65%;
  min-height: 100vh;
}

/* MAIN LOGO STYLE START */
.mainLogoNavBar {
  background-color: var(--white);
  margin: 1rem;
  width: 65%;
}
/* MAIN LOGO STYLE END */

/* HISTORY AND CLIMB SECTION STYLE START */
.climbContainer {
  width: 65%;
  margin-top: -1.5rem;
}
.spanO1,
.spanO2 {
  color: #687893;
  font-size: 11rem;
  font-family: "Bebas Neue", sans-serif;
}

.spanO2 {
  color: #a0a7b5;
}

.spanHistory,
.spanClimb {
  font-size: 3.5rem;
  color: #414f6b;
  font-family: "Bebas Neue", sans-serif;
  position: relative;
  left: -2rem;
  top: -2rem;
}
.historyPara {
  margin: -4rem 5rem;
}

.climbSection {
  display: grid;
  grid-template-columns: 30% auto;
  align-items: center;
}

/* HISTORY SECTION STYLE END*/

/* CARASOL STYLE START */
.carasolContainer {
  background-image: url("./assets/carasolBG.png");
  background-size: cover;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicators {
  bottom: -2.3rem;
}

.carousel-indicators li {
  /* background-color: white; */
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
/* CARASOL STYLE END */

@media screen and (max-width: 767px) {
  .subContainer,
  .mainLogoNavBar,
  .climbContainer {
    width: 85%;
  }
  .pPara {
    /* margin: -4rem 6rem; */
    margin: 0;
    margin-top: -2rem;
  }

  .topContainer {
    background-size: auto;
  }

  .mainLogoNavBar .navbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
